@import '../../assets/scss/variables.scss';

.owl-nav {
    font-size: 24px;
    position: relative;
    .owl-prev {
      position: absolute;
      top: -96px;
      left: -28px;
    }
    .owl-next {
      position: absolute;
      top: -96px;
      right: -20px;
    }
  }
.section{
    border-radius: 5px;
    background-color:  $c-fff;
    padding: 15px 20px;
    margin-top: 20px; 
    .section-title{
      padding-bottom: 5px;
      border-bottom: 2px solid $c-f9f;
      text-transform: uppercase;
      @include clear-both;
      a{
        float: right;
        color: $c-36b;
        text-transform: none;
      }
    }
}
.head-post{
  position: relative;
  .avatar-user{
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }
  .head-post-content{
    padding-left: 52px;
    margin-bottom: 12px;
    .head-post-name-user{
      font-weight: bold;
      color: $c-36b;
    }
    .head-post-story-subtitle{
      color: #a9aaad;
      display: flex;
      padding-left: 5px;
      font-size: 12px;

    }
    .date{
      margin-right: 10px;
      .icon-calendar{
        padding-right: 8px;
      }
    }
    .public{
      display: flex;
      .icon-public {
        font-size: 16px;
        padding-right: 8px;
        color:#057ff1;
      }
    }
  }
}