.img-question-mark {
    position: absolute;
    left: 10px;

  }
  .form-select{
    position: relative;
    margin-right: 30px;
    select {
      padding-left: 30px;
      color: #36b662;
      font-weight: bold;
    }
  }