@import '../../assets/scss/variables.scss';
@import '../../assets/scss/fonts.scss';
  .item-news{
        position: relative;
        .item-news-content{
          top: 0;
          left: 0;
          width: 100%;
          position: absolute;
          z-index: 1;
          color: $c-fff;
          padding: 10px;
          font-size: 12px;
          .item-news-title{
            font-size: 14px;
            font-weight: bold;
          }
          .item-news-detail{
            margin: 5px 0 10px 0; 
            opacity: 0.8;
          }
          .item-news-name{
            font-size: 10px;
            font-weight: bold;
          }
        }
      }
    
 
 
   
       
     