.section-post{
    padding: 20px;
    box-shadow: 0 15px 27px 0 rgba(56, 58, 74, 0.1);
    + div{ margin-top: 20px; }
     > .content-post {
      div {
        border-bottom: 2px solid  #e8eaef;
        textarea {
          padding-left: 0;
          border: none;
          resize: none;
        }
      }
    }
}
.footer-post {
    color: #9698a3;
    .text-right {
      display: flex;
      justify-content: flex-end;
      span {
        margin-left: 10px;
      }
      .icon-icon-facebook{
        color: #3b5998;
      }
    }
    .row div{
        span {
          font-size: 21px;
        }
        a {
          margin-right: 10px
        }
    }
  }