@import '../../assets/scss/variables.scss';
 .item-video{
      margin-top: 20px;
      .item-video-img{
        position: relative;
        margin-bottom: 10px;
        a{
          position: absolute;
          font-size: 45px;
          color: $c-fff;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .item-video-title{
        color: #383a4a;
        
      }
    }
