.section-post{
    padding: 20px;
    box-shadow: 0 15px 27px 0 rgba(56, 58, 74, 0.1);
    + div{ margin-top: 20px; }
    &.feed{
        box-shadow: none;
        i {
            color : #adb5bd;
         
         }
      
  
     > .content-post {
      div {
        border-bottom: 2px solid  #e8eaef;
        textarea {
          padding: 0;
          border: none;
          resize: none;
        }
      }
    }
    .item-feed {
        .content-post {
          .post-feed {
            .post-feed-content {
              border-bottom: 1px solid #e1e1e1;
              margin-bottom: 10px;
              .post-feed-title {
                font-weight: bold;
                padding: 10px 0 10px 0; 
              }
              .post-feed-detail {
                font-size: 12px;
                margin-bottom: 19px;
              }
              .post-feed-detail--link {
                margin: 10px 0 10px 0;
              }
            }
          }
        
        }
        .footer-post {
          display: flex;
          .ratting {
            margin-right: 31px;
            display: flex;
            align-items: center;
         
            span {
              margin-right: 5px;
              font-size: 24px;
            }
          }
  
         
        }
    }
      }
}