.form-search {
  position: relative;
  width: 100%;
  .nav-form-input {
    padding-left: 40px;
    max-width: 570px;
    width: 100%;
    border-radius: 55px;
  }
}
.search {
    position: absolute;
    left:10px;
  }

