
// .owl-nav {
//   font-size: 24px;
//   position: relative;
//   .owl-prev {
//     position: absolute;
//     top: -96px;
//     left: -28px;
//   }
//   .owl-next {
//     position: absolute;
//     top: -96px;
//     right: -20px;
//   }
// }

// .section{
//   border-radius: 5px;
//   background-color:  $c-fff;
//   padding: 15px 20px;
//   margin-top: 20px;
//   .section-title{
//     font-size: 12px;
//     padding-bottom: 5px;
//     border-bottom: 2px solid $c-f9f;
//     text-transform: uppercase;
//     a{
//       float: right;
//       @include clear-both;
//       color: $c-36b;
//       text-transform: none;
//     }
//   }
//   &.section-news{
//     background: none;
//     border-radius: 0;
//     padding: 0;
//     .item-news{
//       position: relative;
//       .item-news-content{
//         top: 0;
//         left: 0;
//         width: 100%;
//         position: absolute;
//         z-index: 1;
//         color: $c-fff;
//         padding: 10px;
//         font-size: 12px;
//         .item-news-title{
//           font-size: 14px;
//           font-weight: bold;
//         }
//         .item-news-detail{
//           margin: 5px 0 10px 0; 
//           opacity: 0.8;
//         }
//         .item-news-name{
//           font-size: 10px;
//           font-weight: bold;
//         }
//       }
//       .arrow {
//         width: 9px;
//         height: 9px;
//         top: 0;
//         left: 0;
//         position: absolute;
//       }
//     }
//   }
//   &.section-video{
//     .item-video{
//       margin-top: 20px;
//       .item-video-img{
//         position: relative;
//         margin-bottom: 10px;
//         a{
//           position: absolute;
//           font-size: 45px;
//           color: $c-fff;
//           top: 50%;
//           left: 50%;
//           transform: translate(-50%, -50%);
//         }
//       }
//       .item-video-title{
//         color: #383a4a;
        
//       }
//     }
//   }
//   &.section-connection{
//     .item-connection{
//       padding: 10px 0;
//       position: relative;
//       .item-connection-img{
//         position: absolute;
//         top: 10px;
//         left: 0;
//         width: 30px;
//         height: 30px;
//         border-radius: 50%;
//       }
//       .item-connection-content{
//         padding-left: 40px;
//         .user-name{
//           color: $c-36b;
//         }
//         span{ color: $c-a9a; }
//         .text{
//           color: $c-383;
//         }
//       }
//     }
//   }
//   &.section-post{
//     padding: 20px;
//     box-shadow: 0 15px 27px 0 rgba(56, 58, 74, 0.1);
//     + div{ margin-top: 20px; }
//      > .content-post {
//       div {
//         border-bottom: 2px solid  #e8eaef;
//         textarea {
//           padding-left: 0;
//           border: none;
//           resize: none;
//         }
//       }
//     }
//     &.feed{
//       box-shadow: none;
//       i {
//          color : #adb5bd;
      
//       }
//       .item-feed {
//         .content-post {
//           .post-feed {
//             .post-feed-content {
//               border-bottom: 1px solid #e1e1e1;
//               margin-bottom: 10px;
//               .post-feed-title {
//                 font-weight: bold;
//                 padding: 10px 0 10px 0; 
//               }
//               .post-feed-detail {
//                 font-size: 12px;
//                 margin-bottom: 19px;
//               }
//               .post-feed-detail--link {
//                 margin: 10px 0 10px 0;
//               }
//             }
//           }
        
//         }
//         .footer-post {
//           display: flex;
//           .ratting {
//             margin-right: 31px;
//             font-size: 12px;
//             span {
//               margin-right: 5px;
//               font-size: 18px;
//             }
//           }
  
         
//         }
//       }
//     }
//     .head-post{
//       position: relative;
//       .avatar-user{
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 42px;
//         height: 42px;
//         border-radius: 50%;
//       }
//       .head-post-content{
//         padding-left: 52px;
//         margin-bottom: 12px;
//         .head-post-name-user{
//           font-weight: bold;
//           color: $c-36b;
//         }
//         .head-post-story-subtitle{
//           color: #a9aaad;
//           display: flex;
//           padding-left: 5px;
//           font-size: 12px;
//           > div{  } 
//         }
//         .date{
//           margin-right: 10px;
//           .icon-calendar{
//             padding-right: 8px;
//           }
//         }
//         .public{
//           display: flex;
//           .icon-public {
//             font-size: 16px;
//             padding-right: 8px;
//             color:#057ff1;
//           }
//         }
//       }
//     }
//     .footer-post {
//       color: #9698a3;
//       .text-right {
//         display: flex;
//         justify-content: flex-end;
//         span {
//           margin-left: 10px;
//         }
//         .icon-icon-facebook{
//           color: #3b5998;
//         }
//       }
//       .row div{
//           span {
//             font-size: 21px;
//           }
//           a {
//             margin-right: 10px
//           }
//       }
//     }
    
//   }
// }