@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/montserrat-regular/montserrat-regular.eot');
  src: local('Montserrat Regular'), local('Montserrat Regular'),
     url('../fonts/montserrat-regular/montserrat-regular.eot?#iefix') format('embedded-opentype'), 
     url('../fonts/montserrat-regular/montserrat-regular.woff2') format('woff2'),
     url('../fonts/montserrat-regular/montserrat-regular.woff') format('woff'), 
     url('../fonts/montserrat-regular/montserrat-regular.ttf') format('truetype'),
     url('../fonts/montserrat-regular/montserrat-regular.svg#Montserrat') format('svg');
}
@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/montserrat-bold/montserrat-bold.eot');
  src: local('Montserrat Bold'), local('Montserrat Bold'),
     url('../fonts/montserrat-bold/montserrat-bold.eot?#iefix') format('embedded-opentype'), 
     url('../fonts/montserrat-bold/montserrat-bold.woff2') format('woff2'),
     url('../fonts/montserrat-bold/montserrat-bold.woff') format('woff'), 
     url('../fonts/montserrat-bold/montserrat-bold.ttf') format('truetype'),
     url('../fonts/montserrat-bold/montserrat-bold.svg#Montserrat') format('svg');
}
@font-face {
font-family: 'maxdino-icon';
src:  url('../fonts/maxdino-icon/maxdino-icon.eot?rr90bx');
src:  url('../fonts/maxdino-icon/maxdino-icon.eot?rr90bx#iefix') format('embedded-opentype'),
  url('../fonts/maxdino-icon/maxdino-icon.ttf?rr90bx') format('truetype'),
  url('../fonts/maxdino-icon/maxdino-icon.woff?rr90bx') format('woff'),
  url('../fonts/maxdino-icon/maxdino-icon.svg?rr90bx#maxdino-icon') format('svg');
font-weight: normal;
font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'maxdino-icon' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-public:before {
content: "\e910";
}
.icon-add:before {
content: "\e900";
}
.icon-arrow-down:before {
content: "\e901";
}
.icon-arrow-left:before {
content: "\e902";
}
.icon-arrow-right:before {
content: "\e903";
}
.icon-calendar:before {
content: "\e904";
}
.icon-camera:before {
content: "\e905";
}
.icon-comment:before {
content: "\e906";
}
.icon-icon:before {
content: "\e907";
}
.icon-icon-facebook:before {
content: "\e908";
}
.icon-icon-twitter:before {
content: "\e909";
}
.icon-like:before {
content: "\e90a";
}
.icon-link:before {
content: "\e90b";
}
.icon-more:before {
content: "\e90c";
}
.icon-noti:before {
content: "\e90d";
}
.icon-question-circle:before {
content: "\e90e";
}
.icon-search:before {
content: "\e90f";
}
