@import "../../assets/scss/variables.scss";
@import "../../assets/scss/fonts.scss";

.navbar-maxdino {
    background-color: $c-383;
    border: none;
    border-radius: 0;
    color: $c-fff;
    background-color: #383a4a;
    // .form-select{
    //   position: relative;
    //   margin-right: 30px;
    //   select {
    //     padding-left: 30px;
    //     color: #36b662;
    //     font-weight: bold;
    //   }
    // }
    a {
      margin-right: 20px;
    }
    #navbarSupportedContent{
      .navbar-nav{
        &.mr-auto{
          width: 100%;
        }
        .nav-item {
          
          a{
            font-size: 23px;
          }
          &.dropdown{
          display: flex;
          }
        }
      }
    }
    .img-question-mark {
      position: absolute;
      left: 10px;

    }
    // .form-search {
    //   position: relative;
    //   width: 100%;
    //   .nav-form-input {
    //     padding-left: 40px;
    //     max-width: 570px;
    //     width: 100%;
    //     border-radius: 55px;
    //    /* @media only screen and (min-width:  1024px) { 
    //       width: 570px;
    //     }*/
        
    //   }
      
    // }
   
    /*.nav-right  {
     li:first-child  {
        margin-right: 20px;
        font-size: 24px;  
      }
      
    }*/

}