@import '../../assets/scss/variables.scss';
.section-connection{
    .item-connection{
      padding: 10px 0;
      position: relative;
      .item-connection-img{
        position: absolute;
        top: 10px;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      .item-connection-content{
        padding-left: 40px;
        .user-name{
          color: $c-36b;
        }
        span{ color: $c-a9a; }
        .text{
          color: $c-383;
        }
      }
    }
  }